






/* .fundo .area-formulario .formulario .nome,
.fundo .area-formulario .formulario .email,
.fundo .area-formulario .formulario .telefone,
.fundo .area-formulario .formulario .mensagem {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}

.fundo .area-formulario .formulario small {
    display: none;
    margin-top: 0px;
    font-size: 8px;
}

.fundo .area-formulario .formulario .nome.campo-preenchido,
.fundo .area-formulario .formulario .email.campo-preenchido,
.fundo .area-formulario .formulario .telefone.campo-preenchido,
.fundo .area-formulario .formulario .mensagem.campo-preenchido {
    border: solid 1px #00C22B;
}

.fundo .area-formulario .formulario .nome.campo-nao-preenchido .input,
.fundo .area-formulario .formulario .email.campo-nao-preenchido .input,
.fundo .area-formulario .formulario .telefone.campo-nao-preenchido .input,
.fundo .area-formulario .formulario .mensagem.campo-nao-preenchido .input {
    border: solid 1px #F52E2E;
}
.fundo .area-formulario .formulario .nome.campo-nao-preenchido,
.fundo .area-formulario .formulario .email.campo-nao-preenchido,
.fundo .area-formulario .formulario .telefone.campo-nao-preenchido,
.fundo .area-formulario .formulario .mensagem.campo-nao-preenchido {
    margin-bottom: 6px;
}

.fundo .area-formulario .formulario .nome.campo-nao-preenchido small,
.fundo .area-formulario .formulario .email.campo-nao-preenchido small,
.fundo .area-formulario .formulario .telefone.campo-nao-preenchido small,
.fundo .area-formulario .formulario .mensagem.campo-nao-preenchido small {
    display: block;
} */


/* .fundo .area-formulario .formulario .input.campo-preenchido {
    border: solid 1px #00C22B;

}

.fundo .area-formulario .formulario .input.campo-nao-preenchido {
    border: solid 1px #F52E2E;

} */